.App {
  text-align: center;
}

.Form label{
  
  display: flex;
  flex-direction: column;
  justify-content: right;
  font-size: 20px;
  font-family: monospace;
  font-weight: bolder;
  
}

.Form button{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
