.App {
  text-align: center;
}

.Header{
  font-size: 30px;
  font-family: monospace;
  font-weight: bolder;
  margin-top: 50px;
  margin-right: 1300px;
  padding: 20px;
}

.Form{
  
  height: 100vh;
  width: 400px;
  border-style: groove;
  border-color: black;
  display: flex;
  flex-direction: column;
  margin-top: -550px;
  margin-bottom: 400px;
  margin-left: 1000px;
  border-radius: 12px;
  
  
}

.Form label{
  
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  font-size: 20px;
  font-family: monospace;
  font-weight: bolder;
 
  
}

.Form button{
  
  border-radius: 12px;
  background-color: #4CAF50; /* Green */
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  

}

.Form img{
 height: 200px;
 width: 200px;

}

.Product h1{
  display: flex;
  flex-direction: column;
  border-color: black;
  font-size: 15px;
  font-family: monospace;
  border-style: groove;
  margin-right: 900px;
  border-radius: 12px;

}
.Product h1 button{
  width: 20%;
  border-radius: 12px;
  background-color: #4CAF50; /* Green */
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  
  
}

.Product h2{
  display: flex;
  flex-direction: column;
  border-color: black;
  font-size: 15px;
  font-family: monospace;
  border-style: groove;
  margin-right: 900px;
  border-radius: 12px;
  
 

}
.Product h2 button{
  width: 20%;
  border-radius: 12px;
  background-color: #4CAF50; /* Green */
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}

.Product h3{
  display: flex;
  flex-direction: column;
  font-size: 15px;
  font-family: monospace;
  border-style: groove;
  margin-right: 900px;
  border-color: black;
  border-radius: 12px;
 

}

.Product h3 button{
  width: 20%;
  border-radius: 12px;
  background-color: #4CAF50; /* Green */
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}

